# Dependencies
/node_modules
/.pnp
.pnp.*

# Build output
/.next/
/out/
/build/

# Test coverage
/coverage/

# Local environment files
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Deploy/hosting
/.vercel/

# TypeScript incremental build info
*.tsbuildinfo

# OS files
.DS_Store